 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 466px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-1 .u-image-1 {
  min-height: 466px;
  background-image: url("images/Artboard8_2.png");
  background-position: 50% 50%;
  --top-left-radius: 10px;
  --top-right-radius: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    --radius: 10px;
    min-height: 384px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-1 .u-image-1 {
    min-height: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-1 .u-image-1 {
    min-height: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-1 .u-image-1 {
    min-height: 139px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 84px;
}

.u-section-2 .u-group-1 {
  width: 915px;
  min-height: 84px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1837px;
}

.u-section-3 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 9px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 1539px;
  height: auto;
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-accordion-2 {
  margin: 0 auto 0 20px;
}

.u-section-3 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-2 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 0 9px;
}

.u-section-3 .u-text-1 {
  line-height: 1.6;
  margin: 0;
}

.u-section-3 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-3 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 0 20px;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  margin: 0 0 0 10px;
}

.u-section-3 .u-accordion-item-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-4 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 0 21px;
}

.u-section-3 .u-text-3 {
  margin: 0 0 0 10px;
}

.u-section-3 .u-accordion-item-5 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-5 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-accordion-item-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-6 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 0 28px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-accordion-item-7 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-7 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-6 {
  margin: 0;
}

.u-section-3 .u-accordion-item-8 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-8 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-8 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-7 {
  margin: 0;
}

.u-section-3 .u-accordion-item-9 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-9 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-9 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-8 {
  margin: 0;
}

.u-section-3 .u-accordion-item-10 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-10 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-10 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 0 0 30px;
}

.u-section-3 .u-text-9 {
  margin: 0;
}

.u-section-3 .u-accordion-item-11 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-11 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-11 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 0 0 31px;
}

.u-section-3 .u-text-10 {
  margin: 0;
}

.u-section-3 .u-accordion-item-12 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-12 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-12 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-11 {
  margin: 0;
}

.u-section-3 .u-accordion-item-13 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-13 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-13 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-13 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-13 {
  padding: 0 0 0 31px;
}

.u-section-3 .u-text-12 {
  margin: 0;
}

.u-section-3 .u-accordion-item-14 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-14 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-14 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-14 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-14 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-13 {
  margin: 0;
}

.u-section-3 .u-accordion-item-15 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-15 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-15 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-15 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-15 {
  padding: 0 0 0 33px;
}

.u-section-3 .u-text-14 {
  margin: 0;
}

.u-section-3 .u-accordion-item-16 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-16 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-16 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-16 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-16 {
  padding: 0 0 0 33px;
}

.u-section-3 .u-text-15 {
  margin: 0;
}

.u-section-3 .u-accordion-item-17 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-17 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-17 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-17 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-17 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-16 {
  margin: 0;
}

.u-section-3 .u-accordion-item-18 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-18 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-18 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-18 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-18 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-17 {
  margin: 0;
}

.u-section-3 .u-accordion-item-19 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-19 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-19 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-19 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-19 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-18 {
  margin: 0;
}

.u-section-3 .u-accordion-item-20 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-20 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-20 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-20 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-20 {
  padding: 0 0 0 31px;
}

.u-section-3 .u-text-19 {
  margin: 0;
}

.u-section-3 .u-accordion-item-21 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-21 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-21 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-21 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-21 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-20 {
  margin: 0;
}

.u-section-3 .u-accordion-item-22 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-22 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-22 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-22 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-22 {
  padding: 0 0 0 9px;
}

.u-section-3 .u-text-21 {
  margin: 10px 365px 0 20px;
}

.u-section-3 .u-image-1 {
  width: 301px;
  height: 390px;
  --radius: 5px;
  margin: -132px 20px 0 auto;
}

.u-section-3 .u-accordion-item-23 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-23 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-23 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-23 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-23 {
  padding: 0;
}

.u-section-3 .u-text-22 {
  margin: 0 -28px 0 28px;
}

.u-section-3 .u-accordion-item-24 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-24 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-24 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-24 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-24 {
  padding: 0 0 0 28px;
}

.u-section-3 .u-text-23 {
  margin: 0;
}

.u-section-3 .u-accordion-item-25 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-25 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-25 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-25 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-25 {
  padding: 0 0 0 27px;
}

.u-section-3 .u-text-24 {
  margin: 0;
}

.u-section-3 .u-accordion-item-26 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-26 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-26 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-26 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-26 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-25 {
  margin: 0;
}

.u-section-3 .u-accordion-item-27 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-27 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-27 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-27 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-27 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-26 {
  margin: 0;
}

.u-section-3 .u-accordion-item-28 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-28 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-28 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-28 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-28 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-27 {
  margin: 0;
}

.u-section-3 .u-accordion-item-29 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-29 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-29 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-29 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-29 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-28 {
  margin: 0;
}

.u-section-3 .u-accordion-item-30 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-30 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-30 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-30 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-30 {
  padding: 0 0 0 28px;
}

.u-section-3 .u-text-29 {
  margin: 0;
}

.u-section-3 .u-accordion-item-31 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-31 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-31 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-31 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-31 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-30 {
  margin: 0;
}

.u-section-3 .u-accordion-item-32 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-32 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-32 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-32 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-32 {
  padding: 0 28px;
}

.u-section-3 .u-text-31 {
  margin: 0;
}

.u-section-3 .u-accordion-item-33 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-33 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-33 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-33 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-33 {
  padding: 0 28px;
}

.u-section-3 .u-text-32 {
  margin: 0;
}

.u-section-3 .u-accordion-item-34 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-34 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-34 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-34 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-34 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-33 {
  margin: 0;
}

.u-section-3 .u-accordion-item-35 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-35 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-35 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-35 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-35 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-34 {
  margin: 0;
}

.u-section-3 .u-accordion-item-36 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-36 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-36 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-36 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-36 {
  padding: 0 0 0 19px;
}

.u-section-3 .u-text-35 {
  margin: 7px 0 0 10px;
}

.u-section-3 .u-accordion-item-37 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-37 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-37 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-37 {
  min-height: 238px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-37 {
  padding: 0 0 0 25px;
}

.u-section-3 .u-image-2 {
  width: 550px;
  height: 200px;
  object-position: 50% 100%;
  margin: 7px 17px 0 auto;
}

.u-section-3 .u-text-36 {
  margin: -200px 574px 0 7px;
}

.u-section-3 .u-accordion-link-38 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-38 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-38 {
  min-height: 1539px;
  height: auto;
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-38 {
  padding: 0;
}

.u-section-3 .u-accordion-3 {
  margin: 0 auto 0 20px;
}

.u-section-3 .u-accordion-item-39 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-39 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-39 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-39 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-39 {
  padding: 0 0 0 9px;
}

.u-section-3 .u-text-37 {
  line-height: 1.6;
  margin: 0;
}

.u-section-3 .u-accordion-item-40 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-40 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-40 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-40 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-40 {
  padding: 0 0 0 20px;
}

.u-section-3 .u-text-38 {
  line-height: 1.6;
  margin: 0 0 0 10px;
}

.u-section-3 .u-accordion-item-41 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-41 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-41 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-41 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-41 {
  padding: 0 0 0 21px;
}

.u-section-3 .u-text-39 {
  margin: 0 0 0 10px;
}

.u-section-3 .u-accordion-item-42 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-42 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-42 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-42 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-42 {
  padding: 0;
}

.u-section-3 .u-text-40 {
  margin: 0;
}

.u-section-3 .u-accordion-item-43 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-43 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-43 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-43 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-43 {
  padding: 0 0 0 28px;
}

.u-section-3 .u-text-41 {
  margin: 0;
}

.u-section-3 .u-accordion-item-44 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-44 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-44 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-44 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-44 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-42 {
  margin: 0;
}

.u-section-3 .u-accordion-item-45 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-45 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-45 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-45 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-45 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-43 {
  margin: 0;
}

.u-section-3 .u-accordion-item-46 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-46 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-46 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-46 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-46 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-44 {
  margin: 0;
}

.u-section-3 .u-accordion-item-47 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-47 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-47 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-47 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-47 {
  padding: 0 0 0 30px;
}

.u-section-3 .u-text-45 {
  margin: 0;
}

.u-section-3 .u-accordion-item-48 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-48 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-48 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-48 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-48 {
  padding: 0 0 0 31px;
}

.u-section-3 .u-text-46 {
  margin: 0;
}

.u-section-3 .u-accordion-item-49 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-49 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-49 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-49 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-49 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-47 {
  margin: 0;
}

.u-section-3 .u-accordion-item-50 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-50 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-50 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-50 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-50 {
  padding: 0 0 0 31px;
}

.u-section-3 .u-text-48 {
  margin: 0;
}

.u-section-3 .u-accordion-item-51 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-51 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-51 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-51 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-51 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-49 {
  margin: 0;
}

.u-section-3 .u-accordion-item-52 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-52 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-52 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-52 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-52 {
  padding: 0 0 0 33px;
}

.u-section-3 .u-text-50 {
  margin: 0;
}

.u-section-3 .u-accordion-item-53 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-53 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-53 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-53 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-53 {
  padding: 0 0 0 33px;
}

.u-section-3 .u-text-51 {
  margin: 0;
}

.u-section-3 .u-accordion-item-54 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-54 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-54 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-54 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-54 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-52 {
  margin: 0;
}

.u-section-3 .u-accordion-item-55 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-55 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-55 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-55 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-55 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-53 {
  margin: 0;
}

.u-section-3 .u-accordion-item-56 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-56 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-56 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-56 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-56 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-54 {
  margin: 0;
}

.u-section-3 .u-accordion-item-57 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-57 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-57 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-57 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-57 {
  padding: 0 0 0 31px;
}

.u-section-3 .u-text-55 {
  margin: 0;
}

.u-section-3 .u-accordion-item-58 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-58 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-58 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-58 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-58 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-56 {
  margin: 0;
}

.u-section-3 .u-accordion-item-59 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-59 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-59 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-59 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-59 {
  padding: 0 0 0 9px;
}

.u-section-3 .u-text-57 {
  margin: 10px 365px 0 20px;
}

.u-section-3 .u-accordion-item-60 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-60 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-60 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-60 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-60 {
  padding: 0;
}

.u-section-3 .u-text-58 {
  margin: 0 -28px 0 28px;
}

.u-section-3 .u-accordion-item-61 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-61 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-61 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-61 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-61 {
  padding: 0 0 0 28px;
}

.u-section-3 .u-text-59 {
  margin: 0;
}

.u-section-3 .u-accordion-item-62 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-62 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-62 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-62 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-62 {
  padding: 0 0 0 27px;
}

.u-section-3 .u-text-60 {
  margin: 0;
}

.u-section-3 .u-accordion-item-63 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-63 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-63 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-63 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-63 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-61 {
  margin: 0;
}

.u-section-3 .u-accordion-item-64 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-64 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-64 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-64 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-64 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-62 {
  margin: 0;
}

.u-section-3 .u-accordion-item-65 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-65 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-65 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-65 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-65 {
  padding: 0 0 0 32px;
}

.u-section-3 .u-text-63 {
  margin: 0;
}

.u-section-3 .u-accordion-item-66 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-66 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-66 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-66 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-66 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-64 {
  margin: 0;
}

.u-section-3 .u-accordion-item-67 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-67 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-67 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-67 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-67 {
  padding: 0 0 0 28px;
}

.u-section-3 .u-text-65 {
  margin: 0;
}

.u-section-3 .u-accordion-item-68 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-68 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-68 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-68 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-68 {
  padding: 0 0 0 29px;
}

.u-section-3 .u-text-66 {
  margin: 0;
}

.u-section-3 .u-accordion-item-69 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-69 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-69 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-69 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-69 {
  padding: 0 28px;
}

.u-section-3 .u-text-67 {
  margin: 0;
}

.u-section-3 .u-accordion-item-70 {
  margin: 2px auto 0 0;
}

.u-section-3 .u-accordion-link-70 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-70 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-70 {
  min-height: 64px;
  height: auto;
  background-image: linear-gradient(#fa9528, #ffc485);
  background-color: rgb(250, 149, 40) !important;
  color: white !important;
}

.u-section-3 .u-container-layout-70 {
  padding: 0 28px;
}

.u-section-3 .u-text-68 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-2 {
    padding: 4px;
  }

  .u-section-3 .u-icon-3 {
    padding: 4px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-4 {
    padding: 4px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-5 {
    padding: 4px;
  }

  .u-section-3 .u-icon-6 {
    padding: 4px;
  }

  .u-section-3 .u-icon-7 {
    padding: 4px;
  }

  .u-section-3 .u-icon-8 {
    padding: 4px;
  }

  .u-section-3 .u-icon-9 {
    padding: 4px;
  }

  .u-section-3 .u-icon-10 {
    padding: 4px;
  }

  .u-section-3 .u-icon-11 {
    padding: 4px;
  }

  .u-section-3 .u-icon-12 {
    padding: 4px;
  }

  .u-section-3 .u-icon-13 {
    padding: 4px;
  }

  .u-section-3 .u-icon-14 {
    padding: 4px;
  }

  .u-section-3 .u-icon-15 {
    padding: 4px;
  }

  .u-section-3 .u-icon-16 {
    padding: 4px;
  }

  .u-section-3 .u-icon-17 {
    padding: 4px;
  }

  .u-section-3 .u-icon-18 {
    padding: 4px;
  }

  .u-section-3 .u-icon-19 {
    padding: 4px;
  }

  .u-section-3 .u-icon-20 {
    padding: 4px;
  }

  .u-section-3 .u-icon-21 {
    padding: 4px;
  }

  .u-section-3 .u-icon-22 {
    padding: 4px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 205px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-23 {
    padding: 4px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-24 {
    padding: 4px;
  }

  .u-section-3 .u-icon-25 {
    padding: 4px;
  }

  .u-section-3 .u-icon-26 {
    padding: 4px;
  }

  .u-section-3 .u-icon-27 {
    padding: 4px;
  }

  .u-section-3 .u-icon-28 {
    padding: 4px;
  }

  .u-section-3 .u-icon-29 {
    padding: 4px;
  }

  .u-section-3 .u-icon-30 {
    padding: 4px;
  }

  .u-section-3 .u-icon-31 {
    padding: 4px;
  }

  .u-section-3 .u-icon-32 {
    padding: 4px;
  }

  .u-section-3 .u-icon-33 {
    padding: 4px;
  }

  .u-section-3 .u-icon-34 {
    padding: 4px;
  }

  .u-section-3 .u-icon-35 {
    padding: 4px;
  }

  .u-section-3 .u-icon-36 {
    padding: 4px;
  }

  .u-section-3 .u-text-35 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-37 {
    padding: 4px;
  }

  .u-section-3 .u-text-36 {
    margin-right: 401px;
    margin-left: 0;
  }

  .u-section-3 .u-accordion-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-38 {
    margin-left: 0;
  }

  .u-section-3 .u-text-39 {
    margin-left: 0;
  }

  .u-section-3 .u-text-57 {
    margin-right: 205px;
    margin-left: 0;
  }

  .u-section-3 .u-text-58 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-11 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-21 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-28 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-34 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-35 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-36 {
    margin-right: 181px;
  }

  .u-section-3 .u-container-layout-48 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-49 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-50 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-51 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-52 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-53 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-54 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-57 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-58 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-57 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-65 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-19 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-21 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-24 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-25 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-26 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-27 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-28 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-29 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-30 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-31 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-32 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-33 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-34 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-35 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-36 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-37 {
    padding-left: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 530px;
    height: 193px;
    margin-right: 0;
  }

  .u-section-3 .u-text-36 {
    margin-top: -193px;
    margin-right: 16px;
  }

  .u-section-3 .u-container-layout-38 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-40 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-41 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-43 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-44 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-45 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-46 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-47 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-48 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-49 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-50 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-51 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-52 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-53 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-54 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-55 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-56 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-57 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-58 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-61 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-62 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-63 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-64 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-65 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-66 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-67 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-68 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-69 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-70 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-2 {
    width: 330px;
    height: 120px;
  }

  .u-section-3 .u-text-36 {
    margin-top: -120px;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 633px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 612px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 2px 50px;
}

.u-section-4 .u-text-1 {
  margin: 48px 4px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 4px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-line-1 {
  width: 426px;
  transform-origin: left center;
  margin: 4px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 0 2px;
}

.u-section-4 .u-image-1 {
  width: 235px;
  height: 235px;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 513px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-image-2 {
  object-position: 50% 50%;
  height: 483px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 370px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 423px;
    background-position: 74.65% 50%;
  }

  .u-section-4 .u-image-2 {
    inset: auto;
    height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-line-1 {
    width: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-4 .u-image-2 {
    height: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 492px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-4 .u-image-2 {
    height: 303px;
  }
}