.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/Artboard7.png");
  --top-left-radius: 10px;
  --top-right-radius: 10px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 120px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 322px;
}

.u-section-2 .u-accordion-1 {
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
  padding: 4px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 111px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  line-height: 1.6;
  margin-top: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  --radius: 4px;
  background-image: linear-gradient(to right, #77aad9, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 19px auto 0 306px;
  padding: 9px 41px 11px;
}

.u-section-2 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-2 .u-btn-4 {
  --radius: 4px;
  background-image: linear-gradient(to right, #77aad9, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -42px auto 19px 599px;
  padding: 9px 41px 11px;
}

.u-section-2 .u-icon-3 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-3 {
    margin-left: 185px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 478px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-left: 92px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -43px;
    margin-left: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #f76f08, #fa9528);
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 102px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  font-weight: 900;
  margin: 25px auto;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 68px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}.u-section-4 .u-image-1 {
  min-height: 889px;
  background-image: url("images/Artboard23x.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    min-height: 733px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 561px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 421px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 265px;
  }
} .u-section-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #f76f08, #fa9528);
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 102px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  font-weight: 900;
  margin: 25px auto;
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 836px;
}

.u-section-6 .u-image-1 {
  inset: auto;
  width: 1140px;
  height: 836px;
  --radius: 5px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-6 .u-image-1 {
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 528px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 396px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 249px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 662px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 50px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 612px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 2px 50px;
}

.u-section-7 .u-text-1 {
  margin: 48px 4px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 4px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-line-1 {
  width: 426px;
  transform-origin: left center;
  margin: 4px auto 0;
}

.u-section-7 .u-text-3 {
  margin: 0 2px;
}

.u-section-7 .u-image-1 {
  width: 235px;
  height: 235px;
  margin: 30px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 513px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-7 .u-image-2 {
  object-position: 50% 50%;
  height: 483px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-line-1 {
    width: 370px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 423px;
    background-position: 74.65% 50%;
  }

  .u-section-7 .u-image-2 {
    inset: auto;
    height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-line-1 {
    width: 300px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-7 .u-image-2 {
    height: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 492px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-7 .u-image-2 {
    height: 303px;
  }
}